<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学科信息</title>
    <style>
        #container{
            width:80%;
            margin:10px auto;
        }
        .user{
            floot:right;
            margin-right:10px;
        }
        .user>a{
            margin-right:10px;
        }
        #main>dl>dt{
            font-size:1.5em;
            font-weight:bold;
        }
        #main>dl>dd{
            font-size:1.2em;
        }
        a{
            text-decoration:none;
            color:darkcyan;
        }


    </style>
</head>
<body>
    <div id="container">
        <div class="user">
            {% include 'header.html' %}
            <!--<a href="login/">用户登录</a>-->
            <!--<a href="register/">快速注册</a>-->
            <h1>学堂所有学科</h1>
            <hr>
            <div id="main">
                {% for subject in subjects %}
                <dl>
                    <dt>
                        <a href="/teacher/?sno={{ subject.no }}">{{ subject.name }}</a>
                        {% if subject.is_hot %}
                        <img width='40px' height="40px " src="static\images\hot-icon-small.jpg">
                        {% endif %}
                    </dt>
                    <dd>{{ subject.intro }}</dd>
                </dl>
                {% endfor %}
            </div>
        </div>

    </div>
</body>
</html>